<ion-view view-title="Rewards Around You">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
      <head>
        <style type="text/css">
          html, body { height: 100%; margin: 0em; padding: 0em; }
          #map { height: 100%; }
        </style>
      </head>
      <body>
      <center>
        <div id="map">
            <script>
                initMap();
            </script>
        <div>
        </center>
      </body>
    </ion-content>
</ion-view>

<script>

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            //center: {lat: 37.546251, lng: -122.302},
            center: {lat: 33.775955, lng: -84.396082},
            zoom: 17
        });

        var infowindow1 = new google.maps.InfoWindow({
            content: 'You are here'
        });
        var marker1 = new google.maps.Marker({
            //position: {lat: 37.54625, lng: -122.3021},
            position: {lat: 33.777078, lng: -84.395975},
            map: map
        });
        marker1.addListener('click', function() {
            infowindow1.open(map, marker1);
        });

        var infowindow2 = new google.maps.InfoWindow({
            content: 'Waffle House Deals Today'
        });
        var marker2 = new google.maps.Marker({
            //position: {lat: 37.545, lng: -122.3026},
            position: {lat: 33.776561, lng: -84.389473},
            map: map
        }); 
        marker2.addListener('click', function() {
            infowindow2.open(map, marker2);
        });  
        var infowindow3 = new google.maps.InfoWindow({
            content: 'Starbucks $2 off on Viente Fraps!'
        }); 
        var marker3 = new google.maps.Marker({
            //position: {lat: 37.5456, lng: -122.303},
            position: {lat: 33.774492, lng: -84.396254},
            map: map
        }); 
        marker3.addListener('click', function() {
            infowindow3.open(map, marker3);
        }); 
        var infowindow4 = new google.maps.InfoWindow({
            content: 'Chick Fil-A Milk Shake Sale'
        });
        var marker4 = new google.maps.Marker({
            //position: {lat: 37.546251, lng: -122.302},
            position: {lat: 33.773565, lng: -84.398185},
            map: map
        }); 
        marker4.addListener('click', function() {
            infowindow4.open(map, marker4);
        }); 

        // if (navigator.geolocation) {
        //     navigator.geolocation.getCurrentPosition(function (position) {
        //         initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        //         map.setCenter(initialLocation);
        //     });
        // }
    }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAS-pJnAr-yBRw5zYOgfbQNGt-j7L953rI&callback=initMap">
    </script>