<ion-view view-title="Your Past Activities!">
  <ion-content ng-class="{expanded:isExpanded}">
    <br />
    <br />
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <br />
  <body>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-success">Sweethut Receipts Spent $23.49</a>
      <a href="#" class="list-group-item list-group-item-info">TinDrum Receipts Spent $10.90</a>
      <a href="#" class="list-group-item list-group-item-warning">Starbucks Poked You!</a>
      <a href="#" class="list-group-item list-group-item-danger">TinDrum Recipts Spent $12.80</a>
      <a href="#" class="list-group-item list-group-item-success">Victoria Secret gave you 100 pts</a>
      <a href="#" class="list-group-item list-group-item-info">Panda Express Receipts Spent $7.50</a>
      <a href="#" class="list-group-item list-group-item-warning">Panda Express Receipts Spent $5.00</a>
      <a href="#" class="list-group-item list-group-item-danger">Sweethut Receipts Spent $23.49</a>
    </div>
  </div>


  </body>
  </ion-content>
</ion-view>