<ion-view view-title="Login" align-title="left">
    <div id="container">
        <center>
        <div class="title_start">
            Epsie 
        </div>
        </center>
        <div class="padding">
            <button ui-sref="app.eleariID" class="button button-full login_btn ink">Login With</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </div>
</ion-view>
