<ion-view view-title="My Profile">
    <ion-content ng-class="{expanded:isExpanded}">
    <br />
    <br />
    <center>
        <h1 style="color: #000">Check All That Apply!</h1>
        <br />
        <h3 style="color: #000">Some stores offer discounts depending on who you are! :D</h3>
        <br />
        <br />
    </center>
        <input type="checkbox"> Student<br>
        <input type="checkbox"> Veteran<br>
        <input type="checkbox"> Senior Citizen<br>
    </ion-content>
</ion-view>

<!--
    <form action="demo_form.asp" method="get">
      <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
      <input type="checkbox" name="vehicle" value="Car" checked="checked"> I have a car<br>
      <input type="submit" value="Submit">
    </form>

<div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon Snow</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/joseph_bee.jpg">
                    <h2>Joseph Bee</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya.jpg">
                    <h2>Arya Sting</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Sansa Stark</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.png">
                    <h2>Tyrion Lannister</h2>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
        -->