<ion-view view-title="SweetHut Rewards">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item item-avatar item-text-wrap">
            <span class="avatar" style="background-image: url('img/sweethut.jpg');"></span>
            <div class="card-footer text-center">
                <button ui-sref="app.profile" class="button button-full button-assertive ink">View Receipts</button>
            </div>
        </div>
        <div>
            <center>
                <img src="img/rewardCup.png" class ="center" margin-top:"50px"/>
            </center>
        </div>
        <div>
            <center>
                <img src="img/rewardStars.png" class ="center" margin-top:"50px"/>
            </center>
        </div>
    </ion-content>
</ion-view>
